
*.lock
lib/dllmain.obj
lib/pch.obj
lib/SetVolume.dll.recipe
lib/SetVolume.exp
lib/SetVolume.ilk
lib/SetVolume.iobj
lib/SetVolume.ipdb
lib/SetVolume.lib
lib/SetVolume.log
lib/SetVolume.pch
lib/SetVolume.obj
lib/SetVolume.pdb
lib/SetVolume.vcxproj.FileListAbsolute.txt
lib/vc142.idb
lib/vc142.pdb
target/*